  body {
        background-color: #f0f4f8;
        font-family: "", sans-serif;
        /* padding-top: 200px; */
        /* Adjust for fixed search bar height */
      }

      .navbar {
        background-color: #1e22aa;
      }

      .navbar-brand,
      .nav-link {
        color: #fff !important;
      }

      .search-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
        z-index: 1000;
      }

      .list-form {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
      }
      .list-form {
        position: sticky;
        top: 20px; 
      }

      .card {
        border: 1px solid #e5e5e5;
        border-radius: 0 px;
        overflow: hidden;
        transition: transform 0.3s;
        background-color: #fff;
        margin-bottom: 20px;
      }

      .card:hover {
        transform: translateY(-5px);
      }

      .card-img {
        width: full;
            
        object-fit: cover;
      }

      .card-body {
        padding: 20px;
      }

      .card-title {
        color: #1e22aa;
        font-weight: bold;
        font-size:large;
      }

      .card-text {
        color: #333;
      }

      .price {
        color: #28a745;
        font-size: 1.2em;
        /* font-weight: bold; */
      }

      .contact-info {
        color: #555;
        font-size: 0.9em;
      }

      .btn-primary {
        background-color: #1e22aa;
        border-color: #1e22aa;
      }

      .btn-primary:hover {
        background-color: #1e22aa;
        border-color: #1e22aa;
      }

      .load-more {
        display: block;
        margin: 20px auto;
      }

      footer {
        background-color: #1e22aa;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        margin-top: 30px;
      }

      footer a {
        color: #fff;
        text-decoration: underline;
      }

      footer a:hover {
        color: #e65b50;
      }


      /* space css */

    .spaces-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.space-card {
  display: flex;
  gap: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}

.space-card:hover {
  transform: translateY(-5px);
}

.space-card img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.space-info h2 {
  margin: 0;
  font-size: 22px;
  color: #222;
}
